version: "3.8"

services:
  mongodb:
    image: mongodb/mongodb-community-server:7.0-ubuntu2204
    ports:
      - "27017:27017"
    tmpfs:
      - /data/db

  app:
    build: .
    depends_on:
      - mongodb
    environment:
      MONGODB_URI: mongodb://mongodb:27017/test
